.container-fluid2 {
    width: 60%;
    /* Пример ширины - вы можете указать любое значение в процентах, пикселях или других единицах измерения */
    margin: 0 auto;
    /* Для центрирования по горизонтали */
    align-items: center;
    background-color: rgb(222, 231, 231);
}
h1 {
    text-align: center;
    
}